<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
		<title>eChanneling - Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>
	<!-- Header -->
	<header id="header">
		<a class="logo" href="index.html">eChanneling</a>
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>

	<!-- Banner -->
	<section id="banner">
		
	</section>
</body>

</html>