<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<link rel="stylesheet" href="assets/css/custom-w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif
  }

  .w3-row-padding img {
    margin-bottom: 12px
  }

  /* Set the width of the sidebar to 120px */

  .w3-sidebar {
    width: 110px;
    background: #222;
  }

  /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */

  #main {
    margin-left: 120px
  }

  /* Remove margins from "page content" on small screens */

  @media only screen and (max-width: 600px) {
    #main {
      margin-left: 0
    }
  }
</style>

<head>
  <title>eChanneling - Homepage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="icon" type="image/png" href="images/icons/profile.png">
</head>

<body class="w3-black">

  <!-- Header -->
  <header id="header">
    <a class="logo" href="index.html">eChanneling</a>
    <nav>
      <a href="#menu">Menu</a>
    </nav>
  </header>

  <div class="row">
    <div class="col-sm-3">
      <div class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
        <!-- Admin Panel -->
        <div class="adminNav">
          <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
            <i class="fas fa-user-secret w3-xxlarge"></i>
            <navp>&nbspADMIN&nbsp</navp>
          </a>
          <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fas fa-hospital w3-xxlarge"></i>
            <navp>Manage Centre</navp>
          </a>
          <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fas fa-users w3-xxlarge"></i>
            <navp>Manage Doctor</navp>
          </a>
        </div>

        <!-- Doctors Panel -->
        <div class="doctorNav">
          <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
            <i class="fas fa-user-md w3-xxlarge"></i>
            <navp>DOCTOR</navp>
          </a>
          <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fas fa-calendar-alt w3-xxlarge"></i>
            <navp>Available Appointments</navp>
          </a>
          <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="far fa-clock w3-xxlarge"></i>
            <navp>Schedule Channeling</navp>
          </a>
        </div>

        <!-- Patient Panel -->
        <div class="patientNav">
          <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
            <i class="fas fa-user w3-xxlarge"></i>
            <navp>CUSTOMER</navp>
          </a>
          <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fas fa-calendar-alt w3-xxlarge"></i>
            <navp>Appointments</navp>
          </a>
        </div>

        <!-- Default Panel -->
        <div class="defaultNav">
          <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-envelope w3-xxlarge"></i>
            <navp>CONTACT</navp>
          </a>
        </div>
      </div>

    </div>
    <div class="col-sm-9">
      <section id="bannerHome">
          <% include doctor %>
      </section>
    </div>
  </div>
</body>

</html>