<!-- views/signup.ejs -->
<!doctype html>
<html>

<head>
	<title>eChanneling - Sign Up</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<link rel="stylesheet" href="assets/css/main.css" />

</head>

<body>
	<!-- Header -->
	<header id="header">
		<a class="logo" href="index.html">eChanneling</a>
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>
	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger">
			<%= message %>
		</div>
		<% } %>


			<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<hr>
					<h1>
						<span class="fa"></span>
					</h1>
					<h2>
						<span class="fa fa-sign-in"> User Sign up</span>
					</h2>
					<hr>
					<div class="col-md-3"></div>
					<div class="col-md-6 limiter">
						<div class="wrap-login100">
							<!-- LOGIN FORM -->
							<form action="/signup" method="post">
								<div class="form-group">

									<input type="text" class="form-control" name="username" placeholder="User Name">
								</div>
								<div class="form-group">

									<input type="text" class="form-control" name="address" placeholder="Address">
								</div>

								<div class="form-group">
									<input type="text" class="form-control" name="tele" placeholder="Telephone">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" name="email" placeholder="Email">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" name="regdate" placeholder="Registraion Date">
								</div>
								<div class="form-group">
									<input type="password" class="form-control" name="password" placeholder="Password">
								</div>
								<button type="submit" class="btn btn-warning btn-lg">Signup</button>
							</form>

							<hr>

							<p>Already have an account?
								<a href="/homepage">
									<U>Login</U>
								</a>
							</p>
							<p>Or go to
								<strong>
									<a href="/">Home >></a>.</p>
							</strong>
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
			</section>
</body>

</html>